*~
*.elc
\#*\#
.cask
.mc-lists.el
.nrepl-history
.eshell/
elpa/
.DS_Store
.recentf
.projectile-bookmarks.eld
.ac-comphist.dat
tramp
.bookmarks
/url/
/async-bytecomp.log
/.emacs.desktop
/modules/setup-private-settings.el
